@import 'functions';

html, body, main, header, footer, article, h1, h2, p, abbr, abbr[title], a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	font-size: 16px;
	@media screen and (max-width: 800px) {
		font-size: 14px;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #FAFF00;
	color: #333333;
	line-height: 2rem;
}

main, footer {
	width: 700px;
	max-width: 90vw;
	margin: 0 auto;
}

main {
	margin-top: 9rem;
}

footer {
	font-size: 0.75rem;
	margin-bottom: 1rem;
}

article {
	margin-bottom: 7rem;
	&::after {
		position: relative;
		top: 1rem;
		content: ' ';
		display: block;
		width: 38px;
		height: 33px;
		background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="38" height="33"><path fill="#FF24C2" d="M22.812 13.192c-3.702-3.722-7.372-2.096-10.312.56-2.94-2.657-6.58-4.312-10.312-.561-2.91 2.923-2.924 7.62 0 10.528C12.468 33.016 12.466 33 12.466 33s.015.03 10.345-9.28c2.926-2.907 2.911-7.605.001-10.528z"/><path fill="#E500A5" d="M12.499 13.75l-.007-.005v19.232c.165-.14 1.377-1.198 10.319-9.258 2.924-2.907 2.91-7.604 0-10.527-3.702-3.723-7.373-2.096-10.312.558z"/><path fill="#FF24C2" d="M36.6 1.395C34.23-.974 31.88.06 30 1.75c-1.882-1.69-4.21-2.742-6.6-.355a4.708 4.708 0 0 0 0 6.7C29.98 14.01 29.978 14 29.978 14s.01.02 6.621-5.905a4.707 4.707 0 0 0 0-6.7z"/><path fill="#E500A5" d="M30 1.751l-.005-.004v12.239c.106-.09.882-.763 6.604-5.892a4.706 4.706 0 0 0 0-6.699c-2.37-2.369-4.718-1.334-6.6.356z"/></svg>');
	}
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: 900;
	color: #E500A5;
	letter-spacing: 0.01em;
	font-size: 4rem;
	margin-bottom: 3rem;
}

h2 {
	font-family: 'Source Serif Pro', serif;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 1rem;
}

a {
	color: #E500A5;
}

.article-date {
	font-size: 0.875rem;
	color: #666666;
	margin-bottom: 1rem;
}

.h1-subtitle {
	font-size: 1.5rem;
	margin-bottom: 7rem;
	line-height: 3rem;
}

::selection {
	background: #73D9FA;
}

::-moz-selection {
	background: #73D9FA;
}
